/*
* @Author: dev01
* @Date:   2018-06-15 08:19:40
* @Last Modified by:   Nathan
* @Last Modified time: 2018-11-06 15:55:07
*/
.margin-top-1{
	margin-top: 1rem;
}
.margin-top-2{
	margin-top: 2rem;
}
.margin-top-2.um{
	margin-top: -1rem;
}
.margin-left-0{
	margin-left: 0px;
}
.margin-4{
	margin-left: -1%;
	margin-right: 1%;
}
.margin-5{
	margin-left: 2%;
}
.margin-6{
	margin-left: -1%;
}
.custom-combobox-toggle {
	cursor: pointer;
}
.custom-combobox-toggle span{
	color: #000;
	margin-top: -4px;
    float: left;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}
.col-md-5-m{
	width: 36.66%;
}
@-moz-document url-prefix() {
fieldset {
    display: table-cell;
}
}
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .table-bordered > thead > tr > td {
	padding: 0px;
}
.table-margin{
	margin-right: 1%;
	margin-left: 5px;
}

/*.form_nfe{
	padding: 1px 30px;
}*/

.btn-tabela-grade {
	width: 18px;
    height: 18px;
    text-align: center;
}
.btn-tabela-grade i {
	font-size: 10px;
    line-height: 1rem;
    float: left;
    line-height: 0;
    text-align: center;
    margin-left: -3px;
}
.tamanho_modal_grade, .cor_modal_grade {
	text-transform: uppercase;
}
@media (max-width: 770px)
{
	.table-margin{
		margin-left: 0%;
	}
}
.th_up th{
	width: 12rem !important;
}
.rmv_item, .add_grade {
    width: 17px;
    height: 17px;
    float: left;
    color: #fff;
    font-size: 12px;
    text-align: center;
    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    text-decoration: none;
    cursor: pointer;	
}
.add_grade{
	font-size: 11px !important;
    padding: 0 8.5px !important;
}
.rmv_item{
	background: transparent;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 1px;
	border: 1px solid;
	border-color: transparent;
	font-size: 12px;
	padding: 0 6px !important;
}
.rmv_item span, .rmv_item i, .add_grade i, .add_grade span {
    line-height: 0px;
    text-align: center;
    float: left;
}
.rmv_item span, .rmv_item i{
    margin-left: -4px;
    margin-top: 3px;
}
.rmv_item:disabled {
	background: #989898;
    border-color: #a7a7a7;
}
.add_grade {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
}
.add_grade i, .add_grade span {
    margin-left: -4.5px;
    margin-top: 2px;
}
.input-70{
	width: 79.5%;
}
.pickerdate{
	cursor: pointer;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.18);
	position: fixed;
	z-index: 99;
	margin: 0;
	padding: 0;
	top: 0;
}
.load{
    width: 256px;
    height: 220px;
    background: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 34%;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -130px;
    margin-top: -40px;
}
.load_body{
	padding: 8px 10px;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
	font-family: Arial, sans-serif;
}
.titulo{
	font-size: 17px;
	color: #333;
	font-weight: 600;
	
}
.margin-panel{
	margin-top: .5rem;
}
/* Box Upload XML */

.box
{
	font-size: 1.25rem; /* 20 */
	background-color: #f9f9f9;
	position: relative;
	padding: 6rem 0;
}
.box.has-advanced-upload
{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
.box__dragndrop,
.box__icon
{
	display: none;
}
.box.has-advanced-upload .box__dragndrop
{
	display: inline;
}
.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-not-fornec .box__input,
.box.is-error .box__input
{
	visibility: hidden;
}
.box__input{
	margin-top: -4rem;
	padding-bottom: 4rem;
}

.box__uploading,
.box__success,
.box__fornec,
.box__error
{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-not-fornec .box__fornec,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}
.box__uploading
{
	font-style: italic;
}
.box__success,.box__fornec 
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
.box__fornec p{
	font-size: 14px;
}
.box__uploading,.box__success,.box__error,.box__fornec{
	text-align: center;
	font-size: 4rem;

}

@-webkit-keyframes appear-from-inside
{
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart
{
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
	color: #39bfd3;
}
.box_file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.box_file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.box_file + label:hover strong,
.box_file:focus + label strong,
.box_file.has-focus + label strong
{
	color: #39bfd3;
}
.box_file:focus + label,
.box_file.has-focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.box_file + label *
{
	/* pointer-events: none; */ /* in case of FastClick lib use */
}
.no-js .box_file + label
{
	display: none;
}
.no-js .box_button
{
	display: block;
}
.box_button
{
	font-weight: 700;
	display: block;
	padding: 8px 16px;
	margin: 40px auto 0;
	outline: 0;
}
.arquivos_a_submeter li
{
    font-weight: 600;
    font-size: 16px;
    border: 1px dashed;
    border-color: #92b0b3;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}
.arquivos_a_submeter li:hover{
	background: #a5c4c7;
}
.tabela_produtos_man.headertable  thead tr {
	font-size: 12px;
}

.tabela_produtos_man,
.tabela_produtos_man tbody,
.tabela_produtos_man thead,
.tabela_produtos_man tr,
.tabela_produtos_man td,
.tabela_produtos_man th{
	float: left;
	width: 100%;
	/*display: block;*/
}
.tabela_produtos_man tbody tr:last-child{
	/*margin-bottom: 2px;*/
}
table.headertable.tabela_produtos_man,
table.bodytable.tabela_produtos_man {
    border: none;
}

.tabela_produtos_man tbody td,
.tabela_produtos_man thead th{
	display: table-cell;
	float: left !important;
}

.tabela_produtos_man tbody td {
	padding: 0 !important;
}

.tabela_produtos_man tbody td:nth-child(1),
.tabela_produtos_man thead th:nth-child(1) {
	width: 25px !important;
	/*width: 90px !important;*/
	/*text-align: right;*/
}

.tabela_produtos_man tbody td:nth-child(1) {
	height: 25px;
}

.tabela_produtos_man tbody td:nth-child(1) .btn-remover-linha {
	padding-top: 0px;
	padding-left: 0;
	transform: translateX(8px) translateY(5px);
}

.tabela_produtos_man tbody td:nth-child(2),
.tabela_produtos_man thead th:nth-child(2) {
	width: 83.391px !important;
	/*width: 477.391px !important;*/
}

.tabela_produtos_man tbody td:nth-child(3),
.tabela_produtos_man thead th:nth-child(3) {
	width: 604.5938px !important;
	/*width: 48.5938px !important;*/
}

.tabela_produtos_man tbody td:nth-child(3) .chosen-container {
	width: 100% !important;
}

.tabela_produtos_man tbody td:nth-child(3) .chosen-container .chosen-single span {
	width: 78% !important;
	transform: translateX(-3px)
}

.tabela_produtos_man tbody td:nth-child(3) .chosen-container .chosen-single div {
	transform: translateX(5px);
}

.tabela_produtos_man tbody td:nth-child(5),
.tabela_produtos_man tbody td:nth-child(4),
.tabela_produtos_man tbody td:nth-child(7),

.tabela_produtos_man thead th:nth-child(5),
.tabela_produtos_man thead th:nth-child(4),
.tabela_produtos_man thead th:nth-child(8) {
	width: 54.5px !important;
	/*text-align: right;*/
}
.tabela_produtos_man tbody td:nth-child(6),
.tabela_produtos_man thead th:nth-child(6) {
	width: 89.7969px !important;
	/*width: 54.7969px !important;*/
}

.tabela_produtos_man tbody td:nth-child(6) .chosen-container-single .chosen-single div {
	width: 12px;
}

.tabela_produtos_man thead th:nth-child(7),
.tabela_produtos_man tbody td:nth-child(7) {
	width: 90px !important;
	/*width: 65px !important;*/
}

.tabela_produtos_man tbody td:nth-child(8),
.tabela_produtos_man thead th:nth-child(8) {
	width: 69px !important;
	/*width: 52px !important;*/
}

.tabela_produtos_man tbody td:nth-child(9),
.tabela_produtos_man thead th:nth-child(9) {
	width: 25px !important;
	/*width: 52px !important;*/
}

.tabela_produtos_man thead th:nth-child(9) i {
    transform: translateX(-3px) translateY(1px);
}

.tabela_produtos_man tbody td:nth-child(10),
.tabela_produtos_man thead th:nth-child(10) {
	width: 87.59px !important;
	/*width: 63.59px !important;*/
}
.tabela_produtos_man tbody td:nth-child(11),
.tabela_produtos_man thead th:nth-child(11) {
    width: 72.375px !important;
    text-align: center;
}

.tabela_produtos_man tbody td:nth-child(11) {
    transform: translateY(2px);
}

.tabela_produtos_man tbody td:nth-child(12),
.tabela_produtos_man thead th:nth-child(12) {
    width: 40px !important;
}

.tabela_produtos_man tbody td:nth-child(13),
.tabela_produtos_man thead th:nth-child(13) {
	width: 24.5px !important;
}

.tabela_produtos_man tbody td:nth-child(14),
.tabela_produtos_man thead th:nth-child(14){
	width: 70px !important;
}

.tabela_produtos_man tbody td:nth-child(14) {
	height: 26px !important;
}

.tabela_produtos_man tbody td:nth-child(14) span {
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabela_produtos_man tbody td:nth-child(15),
.tabela_produtos_man thead th:nth-child(15) {
	width: 67.4219px !important;
}

.tabela_produtos_man .chosen-container .chosen-drop,
.tabela_dados_nfe .chosen-container .chosen-drop {
	position: fixed;
}

.tabela_produtos_man .chosen-container.chosen-container-single {
	width: 100% !important;
}
.tabela_produtos_man .chosen-container-single .chosen-single span {
	text-overflow: unset !important;
}

.tabela_produtos_man .chosen-container-single .chosen-single,
.tabela_dados_nfe .chosen-container-single .chosen-single {
	height: 25px;
}
.tabela_produtos_man .chosen-container,
.tabela_dados_nfe .chosen-container {
	/*position: fixed !important;*/
	/*z-index: 99 !important;*/
}

.tabela-informacoes tr{
    border-bottom: 1px solid #ddd;
}
.tabela-informacoes th{
	text-align: right;
}
.tabela-informacoes td{
    padding: 0 0px;
}
label.file_label
{
	  cursor: pointer;
}
label.file_label strong:hover{

	color: #7a999c;

}
.btn.excluir_xml{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    font-size: 11px;
    float: right;
    line-height: 1rem;
}
.icone_okay{
	font-size: 7rem;
	color: #096509;
}
.icone_okay.error{
	color: #a70e0e;
}
.show_erro{
	font-size: 14px;
}
.table-fixed tbody {
	 max-height: 200px;
	 overflow-y: auto;
	 width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
 	display: block;
}
.table-fixed tr:after {
	 content: "";
	 display: block;
	 visibility: hidden;
	 clear: both;
}
.table-fixed tbody td,
.table-fixed thead &gt; tr &gt; th {
 	float: left;
}
.table.table-fixed > tbody > tr > td{
	float: left;
}
.table.table-fixed > thead > tr > th,
.table.table-fixed > thead > tr > td {
letter-spacing: 1px;
    vertical-align: top;
    padding: 8px;
    float: left;
    position: relative;
    min-height: 1px;
}
.carrega_nfes{
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.panel-heading.heading_nfe{
	padding: 1px 6px;
}
.div_active_nfe{
	cursor: pointer;
	margin-top: 1rem;
}

.table-nfe>tbody>tr>td{
	font-size: 12px;
	padding: 3px 8px;
}

.form-control.size-13
{
	font-size: 13px;
}
.inputs-entrada-envio .col-3:not(:first-child),
.inputs-entrada-envio .col-13:not(:first-child),
.inputs-entrada-envio .col-9:not(:first-child),
.inputs-entrada-envio .col-91:not(:first-child),
.inputs-entrada-envio .col-92:not(:first-child),
.inputs-entrada-envio .col-7:not(:first-child){
	margin-left: -1.5rem;
}
.inputs-entrada-envio .col-3 input,
.inputs-entrada-envio .col-3 select,
.inputs-entrada-envio .col-13 input,
.inputs-entrada-envio .col-13 select,
.inputs-entrada-envio .col-9 input,
.inputs-entrada-envio .col-9 select,
.inputs-entrada-envio .col-7 input,
.inputs-entrada-envio .col-7 select{
	font-size: 13px;
}
.col-md-2.col-3{
    max-width: 27.22%;
    flex: 0 0 27.22%;
}
.col-md-2.col-13{
	max-width: 9.66667%;
    flex: 0 0 9.66667%;
}
.col-md-1.col-9{
    max-width: 29.66667%;
    flex: 0 0 29.66667%;
}
.col-md-1.col-7{
	max-width: 6.5700%;
    flex: 0 0 6.5700%;
}
.col-md-1.marginado,.col-md-2.marginado,.col-md-3.marginado{
    margin-left: -2.5rem;
}
.col-md-1.marginado.m2_6{
	margin-left: -2.6rem;
}
.panel-nfe table > tbody > tr > td{
	padding: 8px;
}  
.panel-nfe .table-nfe-zero > tbody > tr > td{
	padding: 0px;
}
@media (min-width: 992px)
{
	.modal-lg.modal-nfe {
	    width: 1215px;
	}
}

@media screen and (max-width: 992px)
{
	.col-md-3.col-34,
	.col-md-2.col-12,
	.col-md-2.col-13,
	.col-md-1.col-10,
	.col-md-1.col-9,
	.col-md-1.marginado,
	.col-md-2.marginado,
	.col-md-3.marginado{
		width: 100%;
		margin-left: 0;
	}
}

@media (min-width: 768px)
{
	.modal-dialog {
	    width: 800px;
	    margin: 30px auto;
	}
}
.table-fixed-nfe tbody {
  float: left;
	 /*height: 200px;
   overflow-y: auto;*/
	 width: 100%;
}
.table-fixed-nfe thead{
  z-index: 99;
  /*border-top: 1px solid #ddd;*/
}
.table-fixed-nfe tbody{
     
}
.table-fixed-nfe thead,
.table-fixed-nfe tbody,
.table-fixed-nfe tr,
.table-fixed-nfe td,
.table-fixed-nfe th {
 	/*display: block;*/
}
.table-fixed-nfe > tbody > tr > td{
  background: #efefef;
}
.table-fixed-nfe > tbody > tr > td:nth-child(1),
.table-fixed-nfe > tbody > tr > td:nth-child(5),
.table-fixed-nfe > tbody > tr > td:nth-child(9),
.table-fixed-nfe > tbody > tr > td:nth-child(13),
.table-fixed-nfe > tbody > tr > td:nth-child(14),
.table-fixed-nfe > tbody > tr > td:nth-child(18)
{
  padding: 0;
  background: #fff;
  height: 26.2px;
  overflow: auto;
}
.table-fixed-nfe .grade_td span{
    height: 19px !important;
}
.tabela_dados_nfe .setor_select {
    height: calc(2.25rem + -12px) !important;
}
.table-fixed-nfe tr:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.table-fixed-nfe thead, .table-fixed-nfe tbody{
  	float: left;
  	/*width: 263.6%;*/
}
.table-fixed-nfe thead.no-scroll, .table-fixed-nfe tbody.no-scroll{
  	float: left;
  	/*width: 258.6%;*/
}
.table-fixed-nfe tbody td,
.table-fixed-nfe thead &gt; tr &gt; th {
 	float: left;
}
.table.table-fixed-nfe > tbody > tr > td{
	float: left;
}
.table.table-fixed-nfe > thead > tr > th,
.table.table-fixed-nfe > thead > tr > td {letter-spacing: 1px;vertical-align: top;padding: 2px 8px;float: left;position: relative;min-height: 1px;}
.table-fixed-nfe > tbody > tr > td:nth-child(3){
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.panel-heading.heading_nfe{
	padding: 1px 6px;
}
.table-nfe>tbody>tr>td{
	font-size: 12px;
	padding: 3px 8px;
}
.div_tabela{
	float: left;
	/*overflow: auto;*/
	/*max-height: 200px;*/
	padding: 0;
	margin: 0;
}
.col-1,.lnh-1
{
	width: 3.5rem;
}
.col-2,.lnh-2
{
	width: 7.14rem;
}
.col-3,.lnh-3
{
	width: 21rem;
}
.col-4,.lnh-4
{
	width: 5.3rem;
}
.col-5,.lnh-5
{
	width: 4.9rem;
}
.col-6,.lnh-6
{
	width: 3.2rem;
}
.col-7,.lnh-7
{
	width: 3.96rem;
}
.col-8,.lnh-8
{
	width: 5.19rem;
}
.col-9,.lnh-9
{
	width: 5.1rem;
}
.col-91
{
	flex: 0 0 11.666667%;
}
.col-92{
	flex: 0 0 21%;
}
.col-10,.lnh-10
{
	width: 5.2rem;
}
.col-11,.lnh-11
{
	width: 5.2rem;
}
.col-12,.lnh-12
{
	width: 3.4rem;
}
.col-13,.lnh-13
{
	width: 2.92rem;
}
.col-131,.lnh-131
{
	width: 3.48rem;
}
.col-14,.lnh-14
{
	width: 7.3rem;
}
.col-15,.lnh-15
{
	width: 24.5rem;
}
.col-16,.lnh-16
{
	width: 5rem;
}
.col-17,.lnh-17
{
	width: 4rem;
}
.col-18,.lnh-18
{
	width: 5rem;"
}
.col-19,.lnh-19
{
	width: 5.3rem;
}
.col-20,.lnh-20
{
	width: 6rem;
}
.col-21,.lnh-21
{
	width: 6rem;
}
.div_tabela, .table-fixed-nfe thead{
	/*width: 199.7rem;*/
}  
#myIframe{
	border: none;
	display: none;
	margin-top: -1.5rem;
}
.modal-body.p_0{
	padding: 0;
}
.info_nota{
	margin-top: 0.5rem;
    background: #e0e6ed!important;
    padding: 0px 0px 0px 5px;
}
.info_nota .col-md-2{
	padding: 0 1rem;
	/*margin-top: 6px;*/
}
.info_nota div{
	/*margin-top: 6px;*/
}
.info_nota span {
	font-size: 13px;
}
.area_recebe_dados{
	margin-top: 3rem;
}
.recebe_erro p{
    margin-top: 1rem;
    font-size: 17px;
    color: #d43737;
}
th.termo_usando{
  	background: #85def3;
}
table#heartable > tbody>tr>td, table#heartable>tbody>tr>th, table#heartable>tfoot>tr>td, 
table#heartable>tfoot>tr>th, table#heartable>thead>tr>td, table#heartable>thead>tr>th,
table#bodytable > tbody>tr>td, table#bodytable>tbody>tr>th, table#bodytable>tfoot>tr>td, 
table#bodytable>tfoot>tr>th, table#bodytable>thead>tr>td, table#bodytable>thead>tr>th{
	padding: 8px;
}
table#headertable > thead > tr > th.header{
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table#headertable > thead > tr > th,  table#bodytable  > thead > tr > th {
    padding: 0px 14px;
    line-height: 1.42857143;
    vertical-align: middle;
}
th.headerSortDown { 
    background-image: url(../img/desc.gif); 
} 
th.headerSortUp { 
    background-image: url(../img/asc.gif); 
}
.table > tbody tr.selected_row
{
  background: #01203a;
  color: #fff;
}
input.input_buscar:focus{
	background: #d1e812;
}
p.full_search{
	text-align: left;
}
p.full_search span{
    font-weight: 800;
}
p.full_search span.ativado{
	color: #138413;
}
p.full_search span.desativado{
	color: #b11919;
} 
@media (min-width: 768px) {
	.col-md-11nf {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 86.666667%;
    max-width: 86.666667%;
	}
}
@-moz-document url-prefix() {
	.firefox{
		margin-left: -1%;
		margin-right: -0.3%;
	}
	.tabela_produtos_man, .tabela_produtos_man tbody, 
	.tabela_produtos_man thead, 
	.tabela_produtos_man tr, 
	.tabela_produtos_man td, 
	.tabela_produtos_man th {
	    /*float: none !important;*/
	},
	.tabela_produtos_man tbody td:nth-child(6),
	.tabela_produtos_man thead th:nth-child(6){
		width: 125px;
		text-align: right;
	}
	.tabela_produtos_man tbody td:nth-child(5),
	.tabela_produtos_man tbody td:nth-child(8),
	.tabela_produtos_man thead th:nth-child(5),
	.tabela_produtos_man thead th:nth-child(8) {
		width: 66px;
	}

	.tabela_produtos_man tbody td:nth-child(2), 
	.tabela_produtos_man thead th:nth-child(2) {
    	width: 464.383px;
	}
	.tabela_produtos_man tbody td:nth-child(9), 
	.tabela_produtos_man thead th:nth-child(9) {
    	width: 64.797px;
	}
	.grade_td{
		display: block;
	}
	.rmv_item span, .rmv_item i {
	    margin-left: -5px;
	    margin-top: 2px;
	}
	.add_grade i, .add_grade span {
	    margin-left: -5.4px;
	    margin-top: 1px;
	}
}
.rodape_nfe, .div_tabela_nfe{
	padding: 0 0px;
    margin-left: -8px;
}
#form_nfe > div.row.float-right > div.ativo{
	padding: 0 35px;
}
.inputs-entrada-envio{
	padding: 0 22px;
}
#form_nfe > div:nth-child(5) > div > div > table{
	margin-top: -1rem;
}
.card-body{
	overflow-x: hidden;
}
.criar-produtos{
	display: none;
}
.inp_codigo{
	text-align: right !important;
}
@media (min-width: 768px){
	.col-md-2.col-92{
		max-width: 21% !important;
	}
}

body.usando-chave-nfe .row.firefox {
	float: left;
	width: 100%;
	margin: 0;
}

body.usando-chave-nfe .form_nfe {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

body.usando-chave-nfe .row-tabela-chave-nfe,
body.usando-chave-nfe .row-tabela-chave-nfe .coluna-principal,
body.usando-chave-nfe .row-tabela-chave-nfe .coluna-principal .dados_import_nota,
body.usando-chave-nfe .cabec_nfe,
body.usando-chave-nfe .inputs-entrada-envio,
body.usando-chave-nfe .coluna-detalhes-nota,
body.usando-chave-nfe .rodape_nfe {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

.coluna-detalhes-nota {
    margin-top: 1rem;
}

body.usando-chave-nfe .inputs-entrada-envio .row:first-child {
	margin-left: -26px
}

body.usando-chave-nfe .info_nota {
	float: left;
	width: 100%;
	margin-bottom: 1rem;
}

body.usando-chave-nfe .info_nota .row:first-child {
	transform: translateX(12px);
}

body.usando-chave-nfe .info_nota .row:first-child .col-md-2:first-child {
	background: #e0e6ed;
}

body.usando-chave-nfe .float-left .col-md-12:first-child {
	padding-left: 19px !important;
}

.tabela-nfe-detalhes tbody,
.tabela-nfe-detalhes thead {
    float: left;
    width: 100%;
}

.tabela-nfe-detalhes tbody td {
    height: 25px;
    max-height: 25px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabela-nfe-detalhes tbody td,
.tabela-nfe-detalhes thead th {
    float: left;
}

.tabela-nfe-detalhes tbody td:nth-child(1),
.tabela-nfe-detalhes thead th:nth-child(1) {
    text-align: right;
    width: 56px;
}

.tabela-nfe-detalhes tbody td:nth-child(2),
.tabela-nfe-detalhes thead th:nth-child(2) {
    width: 114.234px;
}

.tabela-nfe-detalhes tbody td:nth-child(3),
.tabela-nfe-detalhes thead th:nth-child(3) {
    width: 336px;
}

.tabela-nfe-detalhes tbody td:nth-child(4),
.tabela-nfe-detalhes thead th:nth-child(4) {
    width: 84.7969px;
}

.tabela-nfe-detalhes tbody td:nth-child(5),
.tabela-nfe-detalhes thead th:nth-child(5) {
    width: 78.3906px;
}

.tabela-nfe-detalhes tbody td:nth-child(6),
.tabela-nfe-detalhes thead th:nth-child(6) {
    width: 51.1875px;
}

.tabela-nfe-detalhes tbody td:nth-child(7),
.tabela-nfe-detalhes thead th:nth-child(7) {
    width: 63.3594px;
}

.tabela-nfe-detalhes tbody td:nth-child(7) .chosen-single span{
	width: 78% !important;
}

.tabela-nfe-detalhes tbody td:nth-child(8),
.tabela-nfe-detalhes thead th:nth-child(8) {
    width: 83.0312px;
}

.tabela-nfe-detalhes tbody td:nth-child(9),
.tabela-nfe-detalhes thead th:nth-child(9) {
    width: 81.5938px;
}

.tabela-nfe-detalhes tbody td:nth-child(10),
.tabela-nfe-detalhes thead th:nth-child(10) {
    width: 83.1875px;
}

.tabela-nfe-detalhes tbody td:nth-child(11),
.tabela-nfe-detalhes thead th:nth-child(11) {
    width: 83.1875px;
}

.tabela-nfe-detalhes tbody td:nth-child(12),
.tabela-nfe-detalhes thead th:nth-child(12) {
    width: 54.3906px;
}

.tabela-nfe-detalhes tbody td:nth-child(13),
.tabela-nfe-detalhes thead th:nth-child(13) {
    width: 46.7188px;
}

.tabela-nfe-detalhes tbody td:nth-child(14),
.tabela-nfe-detalhes thead th:nth-child(14) {
    width: 55.6719px;
}

.tabela-nfe-detalhes tbody td:nth-child(15),
.tabela-nfe-detalhes thead th:nth-child(15) {
    width: 31px;
}

.tabela-nfe-detalhes tbody td:nth-child(16),
.tabela-nfe-detalhes thead th:nth-child(16) {
    width: 59.5781px;
}

.tabela-nfe-detalhes tbody td:nth-child(17),
.tabela-nfe-detalhes thead th:nth-child(17) {
    width: 116.797px;
}

.tabela-nfe-detalhes tbody td:nth-child(18),
.tabela-nfe-detalhes thead th:nth-child(18) {
    width: 392px;
}

.tabela-nfe-detalhes tbody td:nth-child(19),
.tabela-nfe-detalhes thead th:nth-child(19) {
    width: 80px;
}

.tabela-nfe-detalhes tbody td:nth-child(20),
.tabela-nfe-detalhes thead th:nth-child(20) {
    width: 64px;
}

.tabela-nfe-detalhes tbody td:nth-child(21),
.tabela-nfe-detalhes thead th:nth-child(21) {
    width: 80px;
}

.tabela-nfe-detalhes tbody td:nth-child(22),
.tabela-nfe-detalhes thead th:nth-child(22) {
    width: 84.7969px;
}

.tabela-nfe-detalhes tbody td:nth-child(23),
.tabela-nfe-detalhes thead th:nth-child(23) {
    width: 96px;
}

.tabela-nfe-detalhes tbody td:nth-child(24),
.tabela-nfe-detalhes thead th:nth-child(24) {
    width: 96px;
}

.tabela-nfe-detalhes td {
	padding: 0 !important;
	line-height: 1.8rem;
	text-indent: 0.5rem;
}

.tabela-nfe-detalhes td.semtext {
	text-indent: 0;
}

.col-md-2.pouco-maior {
    flex: 0 0 18.666667%;
    max-width: 17.666667%;
}

.col-md-3.pouco-menor {
    flex: 0 0 13%;
}

.col-md-2.ajustar-ncm {
    flex: 0 0 13.666667%;
}

.col-md-2.ajustar-bcicms {
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
}

.col-md-2.ajustar-unidade-medida{
    flex: 0 0 11.666667%;
}

.dados-adicionais-produtos .chosen-container, .chosen-fixo  .chosen-container{
    width: 100% !important;
}

.dados-adicionais-produtos .chosen-container .chosen-drop,
.chosen-fixo .chosen-container .chosen-drop {
    position: fixed;
}

.col-md-2.ajustar-aliquota-icms{
    flex: 0 0 13.666667%;
}

.ajustar-unidade-medida .chosen-container {
    width: 60px !important;
}

.col-md-2.ajustar-lucro-bruto {
    flex: 0 0 21.666667%;
    max-width: 21.666667%;
    /*text-align: center;*/
}

/*.inputs-mais-proximos .somente-numero {
	text-align: right;
}*/

.inputs-mais-proximos .col-md-1:not(:first-child),
.inputs-mais-proximos .col-md-2:not(:first-child),
.inputs-mais-proximos .col-md-3:not(:first-child),
.inputs-mais-proximos .col-md-4:not(:first-child),
.inputs-mais-proximos .col-md-5:not(:first-child),
.inputs-mais-proximos .col-md-6:not(:first-child),
.inputs-mais-proximos .col-md-7:not(:first-child),
.inputs-mais-proximos .col-md-8:not(:first-child),
.inputs-mais-proximos .col-md-9:not(:first-child),
.inputs-mais-proximos .col-md-10:not(:first-child),
.inputs-mais-proximos .col-md-11:not(:first-child),
.inputs-mais-proximos .col-md-12:not(:first-child) {
    margin-left: -22px;
}

.col-md-1.ajustar1 {
	flex: 0 0 10.333333%;
	max-width: 10.333333%;
}

.col-md-1.ab {
	flex: 0 0 11.333333%;
	max-width: 12.333333%;
}

.col-md-1.ajustar2 {
	flex: 0 0 10.333333%;
	max-width: 10.333333%;
}

.tab-pane {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
	.col-md-2.dt {
		flex: 0 0 10.666667%;
		max-width: 10.666667%;
	}

	.col-md-3.c {
		flex: 0 0 28%;
		max-width: 28%;
	}

	.col-md-1.un {
		flex: 0 0 4.866667%;
		max-width: 4.866667%;
	}

	.col-md-1.un {
		flex: 0 0 4.866667%;
		max-width: 4.866667%;
	}

	.col-md-1.a.s {
		flex: 0 0 6.333333%;
	}

	.col-md-1.p {
		flex: 0 0 7.333333%;
		max-width: 7.333333%;
	}

	.col-md-1.is {
		flex: 0 0 10.333333%;
		max-width: 10.333333%;
	}

	.col-md-1.a.f {
		flex: 0 0 10.666667%;
	}

    .col-md-2.cp {
        flex: 0 0 8.866667%;
        max-width: 8.866667%;
    }

    .col-md-1.n {
        flex: 0 0 6.333333%;
        max-width: 7.333333%;
    }

    .col-md-1.ajustar-telefone {
        flex: 0 0 10.333333%;
        max-width: 10.333333%;
    }

    .col-md-1.u {
        flex: 0 0 5.333333%;
        max-width: 5.333333%;
    }
}

.nome_cliente {
	text-transform: uppercase;
}

.tab-pane {
    height: 295px !important;
    max-height: 295px !important;
}

.tabela_produtos_man tbody {
    height: 255px !important;
    max-height: 255px !important;
}

#form_nfe {
    height: 413px !important;
    max-height: 413px !important;
}

.div_tabela_nfe .TabelasMultiplas_scrollBody {
	max-height: 152px !important;
}