.saldo-anterior-div {
    position: absolute;
    right: 0;
    padding-right: 0px;
    transform: translateY(11px);
}

.lancamentos-forms thead th,
.lancamentos-forms tbody td {
    float: left;
}

.dataTables_empty {
    width: 100% !important;
    text-align: center;
}

#resumo-diario tbody td:nth-child(1):not(.dataTables_empty),
#resumo-diario thead th:nth-child(1),
#creditos-lanca tbody td:nth-child(1):not(.dataTables_empty),
#creditos-lanca thead th:nth-child(1),
#debitos-lanca tbody td:nth-child(1):not(.dataTables_empty),
#debitos-lanca thead th:nth-child(1),
.lancamentos-forms tbody td:nth-child(2):not(.dataTables_empty),
.lancamentos-forms thead th:nth-child(2) {
    width: 3.6rem !important;
    text-align: right;
}

#creditos-lanca tbody td:nth-child(2),
#creditos-lanca thead th:nth-child(2),
#debitos-lanca tbody td:nth-child(2),
#debitos-lanca thead th:nth-child(2),
.lancamentos-forms tbody td:nth-child(3),
.lancamentos-forms thead th:nth-child(3) {
    width: 4.6rem !important;
}

#creditos-lanca tbody td:nth-child(3),
#creditos-lanca thead th:nth-child(3),
#debitos-lanca tbody td:nth-child(3),
#debitos-lanca thead th:nth-child(3),
.lancamentos-forms tbody td:nth-child(4),
.lancamentos-forms thead th:nth-child(4) {
    width: 3.5rem !important;
    text-align: right;
}

#creditos-lanca tbody td:nth-child(4),
#creditos-lanca thead th:nth-child(4),
#debitos-lanca tbody td:nth-child(4),
#debitos-lanca thead th:nth-child(4),
.lancamentos-forms tbody td:nth-child(5),
.lancamentos-forms thead th:nth-child(5) {
    width: 5.8rem !important;
}

#creditos-lanca tbody td:nth-child(5),
#debitos-lanca tbody td:nth-child(5),
.lancamentos-forms tbody td:nth-child(6) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#creditos-lanca tbody td:nth-child(5),
#creditos-lanca thead th:nth-child(5),
#debitos-lanca tbody td:nth-child(5),
#debitos-lanca thead th:nth-child(5),
.lancamentos-forms tbody td:nth-child(6),
.lancamentos-forms thead th:nth-child(6) {
    width: 26.4rem !important;
}

#creditos-lanca tbody td:nth-child(6),
#creditos-lanca thead th:nth-child(6),
#debitos-lanca tbody td:nth-child(6),
#debitos-lanca thead th:nth-child(6),
.lancamentos-forms tbody td:nth-child(7),
.lancamentos-forms thead th:nth-child(7) {
    width: 6rem !important; /* 5.1 */
    text-align: right;
}

#creditos-lanca tbody td:nth-child(7),
#creditos-lanca thead th:nth-child(7),
#debitos-lanca tbody td:nth-child(7),
#debitos-lanca thead th:nth-child(7),
.lancamentos-forms tbody td:nth-child(8),
.lancamentos-forms thead th:nth-child(8) {
    width: 9.1% !important;
    text-align: right;
}

/*.lancamentos-forms tbody td:nth-child(8),
.lancamentos-forms thead th:nth-child(8) {
    width: 1.2rem !important;
    padding-bottom: 3px;
    /width: 1px !important;/
    /padding: 0 !important;/
    /transform: translateX(10px);/
}*/

.lancamentos-forms.redimensionar tbody td:nth-child(6),
.lancamentos-forms.redimensionar thead th:nth-child(6) {
    width: 25rem !important
}

/*.lancamentos-forms.redimensionar tbody td:nth-child(8),
.lancamentos-forms.redimensionar thead th:nth-child(8) {
    width: 1.1rem !important;
}*/

@-moz-document url-prefix() {

    #creditos-lanca tbody td:nth-child(8),
    #creditos-lanca thead th:nth-child(8),
    #debitos-lanca tbody td:nth-child(8),
    #debitos-lanca thead th:nth-child(8),
    .lancamentos-forms tbody td:nth-child(8),
    .lancamentos-forms thead th:nth-child(8) {
        width: 8.9% !important;
    }
    .div-botoes {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

/*
.lancamentos-forms tbody td:nth-child(8){
    /transform: translateX(4px) translateY(4px);/
}

.lancamentos-forms thead th:nth-child(8) {
    /transform: translateX(4px) translateY(2px);/
}
*/

#resumo-diario tbody td:nth-child(3),
#resumo-diario thead th:nth-child(3) {
    text-align: right;
}

.dataTables_scrollBody{
    height: auto !important;
    max-height: 255px;
    overflow-x: hidden !important;
}

.dataTables_filter {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.dataTables_filter label {
    width: 100%;
    float: left;
}

.dataTables_filter label input[type="search"] {
    width: 100% !important;
    margin-left: 0 !important;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 21.6px !important;
    padding: 0;
}

table.dataTable thead>tr>th.sorting_asc:nth-child(7),
table.dataTable thead>tr>th.sorting_desc:nth-child(7),
table.dataTable thead>tr>th.sorting:nth-child(7),
table.dataTable thead>tr>td.sorting_asc:nth-child(7),
table.dataTable thead>tr>td.sorting_desc:nth-child(7),
table.dataTable thead>tr>td.sorting:nth-child(7),

table.dataTable thead>tr>th.sorting_asc:nth-child(8),
table.dataTable thead>tr>th.sorting_desc:nth-child(8),
table.dataTable thead>tr>th.sorting:nth-child(8),
table.dataTable thead>tr>td.sorting_asc:nth-child(8),
table.dataTable thead>tr>td.sorting_desc:nth-child(8),
table.dataTable thead>tr>td.sorting:nth-child(8)
{
    padding-right: 17.6px !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 0.5rem;
}

.btn-remover-linha {
    padding-top: 0px !important;
    padding-left: 0px !important;
}

.valor {
    text-align: right;
}