/*
* @Author: dev01
* @Date:   2018-06-15 08:19:40
* @Last Modified by:   Nathan
* @Last Modified time: 2018-10-31 15:51:09
*/
.margin-top-1{
	margin-top: 1rem;
}
.margin-top-2{
	margin-top: 2rem;
}
.margin-top-2.um{
	margin-top: -1rem;
}
.margin-left-0{
	margin-left: 0px;
}
.margin-4{
	margin-left: -1%;
	margin-right: 1%;
}
.margin-5{
	margin-left: 2%;
}
.margin-6{
	margin-left: -1%;
}
.custom-combobox-toggle {
	cursor: pointer;
}
.custom-combobox-toggle span{
	color: #000;
	margin-top: -4px;
    float: left;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}
.col-md-5-m{
	width: 36.66%;
}
@-moz-document url-prefix() {
fieldset {
    display: table-cell;
}
}
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .table-bordered > thead > tr > td {
	padding: 0px;
}
.table-margin{
	margin-right: 1%;
    margin-left: .45%;
}
.form_nfe{
	padding: 1px 30px;
}
.btn-tabela-grade {
	width: 18px;
    height: 18px;
    text-align: center;
}
.btn-tabela-grade i {
	font-size: 10px;
    line-height: 1rem;
    float: left;
    line-height: 0;
    text-align: center;
    margin-left: -3px;
}
.tamanho_modal_grade, .cor_modal_grade {
	text-transform: uppercase;
}
@media (max-width: 770px)
{
	.table-margin{
		margin-left: 0%;
	}
}
.th_up th{
	width: 12rem;
}
.rmv_item, .add_grade {
	width: 17px;
	height: 17px;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	text-decoration: none;
	cursor: pointer;
}
.add_grade{
	font-size: 11px !important;
    padding: 0 8.5px !important;
}
.rmv_item{
	background: transparent;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 1px;
	border: 1px solid;
	border-color: transparent;
	font-size: 12px;
	padding: 0 6px !important;
}
.rmv_item span, .rmv_item i, .add_grade i, .add_grade span {
	line-height: 0px;
	text-align: center;
	float: left;
}
.rmv_item span, .rmv_item i{
	margin-left: -4px;
	margin-top: 3px;
}
.rmv_item:disabled {
	background: #989898;
    border-color: #a7a7a7;
}
.add_grade {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
}
.add_grade i, .add_grade span {
    margin-left: -4.5px;
    margin-top: 2px;
}
.input-70{
	width: 79%;/*70%;*/
}
.pickerdate{
	cursor: pointer;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.18);
	position: fixed;
	z-index: 99;
	margin: 0;
	padding: 0;
	top: 0;
}
.load{
    width: 256px;
    height: 220px;
    background: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 34%;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -130px;
    margin-top: -40px;
}
.load_body{
	padding: 8px 10px;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
	font-family: Arial, sans-serif;
}
.titulo{
	font-size: 17px;
	color: #333;
	font-weight: 600;
	
}
.margin-panel{
	margin-top: .5rem;
}
/* Box Upload XML */

.box
{
	font-size: 1.25rem; /* 20 */
	background-color: #f9f9f9;
	position: relative;
	padding: 6rem 0;
}
.box.has-advanced-upload
{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
.box__dragndrop,
.box__icon
{
	display: none;
}
.box.has-advanced-upload .box__dragndrop
{
	display: inline;
}
.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-not-fornec .box__input,
.box.is-error .box__input
{
	visibility: hidden;
}
.box__input{
	margin-top: -4rem;
	padding-bottom: 4rem;
}

.box__uploading,
.box__success,
.box__fornec,
.box__error
{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-not-fornec .box__fornec,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}
.box__uploading
{
	font-style: italic;
}
.box__success,.box__fornec 
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
.box__fornec p{
	font-size: 14px;
}
.box__uploading,.box__success,.box__error,.box__fornec{
	text-align: center;
	font-size: 4rem;

}

@-webkit-keyframes appear-from-inside
{
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart
{
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
	color: #39bfd3;
}
.box_file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.box_file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.box_file + label:hover strong,
.box_file:focus + label strong,
.box_file.has-focus + label strong
{
	color: #39bfd3;
}
.box_file:focus + label,
.box_file.has-focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.box_file + label *
{
	/* pointer-events: none; */ /* in case of FastClick lib use */
}
.no-js .box_file + label
{
	display: none;
}
.no-js .box_button
{
	display: block;
}
.box_button
{
	font-weight: 700;
	display: block;
	padding: 8px 16px;
	margin: 40px auto 0;
	outline: 0;
}
.arquivos_a_submeter li
{
    font-weight: 600;
    font-size: 16px;
    border: 1px dashed;
    border-color: #92b0b3;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}
.arquivos_a_submeter li:hover{
	background: #a5c4c7;
}
.tabela_produtos_man.headertable  thead tr {
	font-size: 12px;
}

.tabela_produtos_man,
.tabela_produtos_man tbody,
.tabela_produtos_man thead,
.tabela_produtos_man tr,
.tabela_produtos_man td,
.tabela_produtos_man th{
	float: left;
	width: 100%;
	/*display: block;*/
}
table.headertable.tabela_produtos_man,
table.bodytable.tabela_produtos_man {
    border: none;
}

.tabela_produtos_man tbody td,
.tabela_produtos_man thead th{
	display: table-cell;
	float: left !important;
}

.tabela_produtos_man tbody td:nth-child(1),
.tabela_produtos_man thead th:nth-child(1) {
	width: 90px;
	text-align: right;
}
.tabela_produtos_man tbody td:nth-child(2),
.tabela_produtos_man thead th:nth-child(2) {
	width: 450.391px;
}

.tabela_produtos_man tbody td:nth-child(3),
.tabela_produtos_man tbody td:nth-child(4),
.tabela_produtos_man tbody td:nth-child(6),

.tabela_produtos_man thead th:nth-child(3),
.tabela_produtos_man thead th:nth-child(4),
.tabela_produtos_man thead th:nth-child(6) {
	width: 140px;
	text-align: right;
}
.tabela_produtos_man tbody td:nth-child(5),
.tabela_produtos_man thead th:nth-child(5) {
	width: 52px;
}
.tabela_produtos_man thead th:nth-child(7),
.tabela_produtos_man tbody td:nth-child(7) {
	width: 23.7969px;
}

.tabela_produtos_man tbody td:nth-child(8),
.tabela_produtos_man thead th:nth-child(8) {
	width: 64px;
}

.tabela_produtos_man tbody td:nth-child(9),
.tabela_produtos_man thead th:nth-child(9) {

	width: 192.594px !important;

}

@-moz-document url-prefix() {
	.tabela_produtos_man tbody td:nth-child(9),
	.tabela_produtos_man thead th:nth-child(9) {
		width: 168.594px !important;
	}
}

.grade_td span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tabela-informacoes tr{
    border-bottom: 1px solid #ddd;
}
.tabela-informacoes th{
	text-align: right;
}
.tabela-informacoes td{
    padding: 0 0px;
}
label.file_label
{
	  cursor: pointer;
}
label.file_label strong:hover{

	color: #7a999c;

}
.btn.excluir_xml{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    font-size: 11px;
    float: right;
    line-height: 1rem;
}
.icone_okay{
	font-size: 7rem;
	color: #096509;
}
.icone_okay.error{
	color: #a70e0e;
}
.show_erro{
	font-size: 14px;
}
.table-fixed tbody {
	 max-height: 200px;
	 overflow-y: auto;
	 width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
 	display: block;
}
.table-fixed tr:after {
	 content: "";
	 display: block;
	 visibility: hidden;
	 clear: both;
}
.table-fixed tbody td,
.table-fixed thead &gt; tr &gt; th {
 	float: left;
}
.table.table-fixed > tbody > tr > td{
	float: left;
}
.table.table-fixed > thead > tr > th,
.table.table-fixed > thead > tr > td {
letter-spacing: 1px;
    vertical-align: top;
    padding: 8px;
    float: left;
    position: relative;
    min-height: 1px;
}
.carrega_nfes{
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.panel-heading.heading_nfe{
	padding: 1px 6px;
}
.div_active_nfe{
	cursor: pointer;
	margin-top: 1rem;
}

.table-nfe>tbody>tr>td{
	font-size: 12px;
	padding: 3px 8px;
}

.form-control.size-13
{
	font-size: 13px;
}
.inputs-entrada-envio .col-3:not(:first-child),
.inputs-entrada-envio .col-13:not(:first-child),
.inputs-entrada-envio .col-9:not(:first-child),
.inputs-entrada-envio .col-7:not(:first-child){
	margin-left: -1.5rem;
}
.inputs-entrada-envio .col-3 input,
.inputs-entrada-envio .col-3 select,
.inputs-entrada-envio .col-13 input,
.inputs-entrada-envio .col-13 select,
.inputs-entrada-envio .col-9 input,
.inputs-entrada-envio .col-9 select,
.inputs-entrada-envio .col-7 input,
.inputs-entrada-envio .col-7 select{
	font-size: 13px;
}
.col-md-2.col-3{
    max-width: 33.83%;
    flex: 0 0 33.83%;
}
.col-md-2.col-13{
	max-width: 13.66667%;
    flex: 0 0 13.66667%;
}
.col-md-1.col-9{
	max-width: 9.66667%;
    flex: 0 0 9.66667%;
}
.col-md-1.col-7{
	max-width: 7.333333%;
    flex: 0 0 7.333333%;
}
.col-md-1.marginado,.col-md-2.marginado,.col-md-3.marginado{
    margin-left: -2.5rem;
}
.col-md-1.marginado.m2_6{
	margin-left: -2.6rem;
}
.panel-nfe table > tbody > tr > td{
	padding: 8px;
}  
.panel-nfe .table-nfe-zero > tbody > tr > td{
	padding: 0px;
}
@media (min-width: 992px)
{
	.modal-lg.modal-nfe {
	    width: 1215px;
	}
}

@media screen and (max-width: 992px)
{
	.col-md-3.col-34,
	.col-md-2.col-12,
	.col-md-2.col-13,
	.col-md-1.col-10,
	.col-md-1.col-9,
	.col-md-1.marginado,
	.col-md-2.marginado,
	.col-md-3.marginado{
		width: 100%;
		margin-left: 0;
	}
}

@media (min-width: 768px)
{
	.modal-dialog {
	    width: 800px;
	    margin: 30px auto;
	}
}
.table-fixed-nfe tbody {
  float: left;
	 /*height: 200px;
   overflow-y: auto;*/
	 width: 100%;
}
.table-fixed-nfe thead{
  z-index: 99;
  border-top: 1px solid #ddd;
}
.table-fixed-nfe thead > tr > th{
   background: #fff;
}
.table-fixed-nfe tbody{
     
}
.table-fixed-nfe thead,
.table-fixed-nfe tbody,
.table-fixed-nfe tr,
.table-fixed-nfe td,
.table-fixed-nfe th {
 	display: block;
}
.table-fixed-nfe > tbody > tr > td{
  background: #efefef;
}
.table-fixed-nfe > tbody > tr > td:nth-child(1),
.table-fixed-nfe > tbody > tr > td:nth-child(5),
.table-fixed-nfe > tbody > tr > td:nth-child(9),
.table-fixed-nfe > tbody > tr > td:nth-child(13),
.table-fixed-nfe > tbody > tr > td:nth-child(15)
{
  padding: 0;
  background: #fff;
  height: 25px;
  overflow: auto;
}
.table-fixed-nfe tr:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.table-fixed-nfe thead, .table-fixed-nfe tbody{
  	float: left;
  	/*width: 263.6%;*/
}
.table-fixed-nfe thead.no-scroll, .table-fixed-nfe tbody.no-scroll{
  	float: left;
  	/*width: 258.6%;*/
}
.table-fixed-nfe tbody td,
.table-fixed-nfe thead &gt; tr &gt; th {
 	float: left;
}
.table.table-fixed-nfe > tbody > tr > td{
	float: left;
}
.table.table-fixed-nfe > thead > tr > th,
.table.table-fixed-nfe > thead > tr > td {letter-spacing: 1px;vertical-align: top;padding: 2px 8px;float: left;position: relative;min-height: 1px;}
.table-fixed-nfe > tbody > tr > td:nth-child(3){
	max-height: 25px;
    overflow-y: auto;
}
.panel-heading.heading_nfe{
	padding: 1px 6px;
}
.table-nfe>tbody>tr>td{
	font-size: 12px;
	padding: 3px 8px;
}
.td_input.nfe{
    padding: 4px 6px;
    border-radius: 0;
}
.div_tabela{
	float: left;
	/*overflow: auto;*/
	/*max-height: 200px;*/
	padding: 0;
	margin: 0;
}
.col-1,.lnh-1
{
	width: 6.2rem;
}
.col-2,.lnh-2
{
	width: 7.5rem;
}
.col-3,.lnh-3
{
	width: 30.5rem;
}
.col-4,.lnh-4
{
	width: 7.5rem;
}
.col-5,.lnh-5
{
	width: 5rem;
}
.col-6,.lnh-6
{
	width: 5rem;
}
.col-7,.lnh-7
{
	width: 7rem;
}
.col-8,.lnh-8
{
	width: 7.5rem;
}
.col-9,.lnh-9
{
	width: 7.5rem;
}
.col-10,.lnh-10
{
	width: 8.5rem;
}
.col-11,.lnh-11
{
	width: 6.5rem;
}
.col-12,.lnh-12
{
	width: 4rem;
}
.col-13,.lnh-13
{
	width: 5rem;
}
.col-14,.lnh-14
{
	width: 11.5rem;
}
.col-15,.lnh-15
{
	width: 27.5rem;
}
.col-16,.lnh-16
{
	width: 5rem;
}
.col-17,.lnh-17
{
	width: 4rem;
}
.col-18,.lnh-18
{
	width: 5rem;"
}
.col-19,.lnh-19
{
	width: 8rem;
}
.col-20,.lnh-20
{
	width: 9rem;
}
.col-21,.lnh-21
{
	width: 9rem;
}
.div_tabela, .table-fixed-nfe thead{
	width: 199.7rem;
}  
#myIframe{
	border: none;
	display: none;
	margin-top: -1.5rem;
}
.modal-body.p_0{
	padding: 0;
}
.info_nota{
	margin-top: 0.5rem;
	background: #f0f0f0;
	padding: 0 5px;
}
.info_nota .col-md-2{
	padding: 0 1rem;
	margin-top: 6px;
}
.info_nota div{
	margin-top: 6px;
}
.area_recebe_dados{
	margin-top: 3rem;
}
.recebe_erro p{
    margin-top: 1rem;
    font-size: 17px;
    color: #d43737;
}
/*
div.inner-container
{
    height: 100%;
    overflow: hidden;
}
div.table-header
{
    position: relative;
}
div.table-body
{
    overflow: auto;
    margin-top: -1rem;
    position: relative;
}
div.header-cell
{
    background-color: #fff;
    text-align: left;
    height: 35px;
}
div.body-cell 
{
    background-color: #fff;
    text-align: left;   
}
table#bodytable > tbody
{
  	position: relative;
}
table#bodytable thead{
  	position: relative;
}
table#bodytable > thead > tr > th{
	padding-top: 0px;
	padding-bottom: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	height: 0;
}
table#bodytable > thead > tr > th > div.sizing{
	height:0;
	overflow:hidden;
}
table#bodytable > thead > tr > th > div > i, table#headertable > thead > tr > th > i
{
	float: right;
    margin-top: -1.6rem;
    margin-left: 3rem;
    padding-left: 10rem;
    width: 50%;
    margin-right: 4px;
}*/
th.termo_usando{
  	background: #85def3;
}
table#heartable > tbody>tr>td, table#heartable>tbody>tr>th, table#heartable>tfoot>tr>td, 
table#heartable>tfoot>tr>th, table#heartable>thead>tr>td, table#heartable>thead>tr>th,
table#bodytable > tbody>tr>td, table#bodytable>tbody>tr>th, table#bodytable>tfoot>tr>td, 
table#bodytable>tfoot>tr>th, table#bodytable>thead>tr>td, table#bodytable>thead>tr>th{
	padding: 8px;
}
table#headertable > thead > tr > th.header{
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table#headertable > thead > tr > th,  table#bodytable  > thead > tr > th {
    padding: 0px 14px;
    line-height: 1.42857143;
    vertical-align: middle;
}
th.headerSortDown { 
    background-image: url(../../../img/desc.gif);
} 
th.headerSortUp { 
    background-image: url(../../../img/asc.gif);
}
.table > tbody tr.selected_row
{
  background: #01203a;
  color: #fff;
}
input.input_buscar:focus{
	background: #d1e812;
}
p.full_search{
	text-align: left;
}
p.full_search span{
    font-weight: 800;
}
p.full_search span.ativado{
	color: #138413;
}
p.full_search span.desativado{
	color: #b11919;
} 
@media (min-width: 768px) {
	.col-md-11nf {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 86.666667%;
    max-width: 86.666667%;
	}
}
.chosen-container .chosen-drop {
    position: fixed;
}
.chosen-container-single .chosen-single {
    height: 25px;
}
.chosen-container {
    /*position: fixed !important;*/
    /*z-index: 99 !important;*/
}

@media (min-width: 768px) {
	.col-md-3.e {
	    flex: 0 0 20% !important;
	}
}

@-moz-document url-prefix() {
	.firefox{
		margin-left: -1%;
		margin-right: -0.3%;
	}
	.tabela_produtos_man, .tabela_produtos_man tbody, 
	.tabela_produtos_man thead, 
	.tabela_produtos_man tr, 
	.tabela_produtos_man td, 
	.tabela_produtos_man th {
	    /*float: none !important;*/
	},
	.tabela_produtos_man tbody td:nth-child(6),
	.tabela_produtos_man thead th:nth-child(6){
		width: 125px;
		text-align: right;
	}
	.tabela_produtos_man tbody td:nth-child(5),
	.tabela_produtos_man tbody td:nth-child(8),
	.tabela_produtos_man thead th:nth-child(5),
	.tabela_produtos_man thead th:nth-child(8) {
		width: 66px;
	}

	.tabela_produtos_man tbody td:nth-child(2), 
	.tabela_produtos_man thead th:nth-child(2) {
    	width: 464.383px;
	}
	.tabela_produtos_man tbody td:nth-child(9), 
	.tabela_produtos_man thead th:nth-child(9) {
    	width: 64.797px;
	}
	.grade_td{
		display: block;
	}
	.rmv_item span, .rmv_item i {
	    margin-left: -5px;
	    margin-top: 2px;
	}
	.add_grade i, .add_grade span {
	    margin-left: -5.4px;
	    margin-top: 1px;
	}
}